html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: stretch;
    justify-content: space-between;
    flex: auto;
    margin: 0;
    background-color: #f5efe6;
    font-family: Arial, Helvetica, sans-serif;
}

.canvas {
    width: 450px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 0;
    margin: 0 10px;
    border-style: ridge;
    border-width: 20px;
    border-color: #954520;
}

.canvasRow {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    justify-items: stretch;
    margin: 0;
    padding: 0;
}

.pixel {
   background: white; 
   border-color: lightgrey; 
   border-style: solid;
   border-width: 1px;
   flex: 1 1 auto;
}

.inkRed {
    background: red; 
    border-color: red;  
}

.inkOrange{
    background: orange; 
    border-color: orange;  
}

.inkYellow {
    background: yellow; 
    border-color: yellow;  
}

.inkGreen {
    background: green; 
    border-color: green;  
}

.inkBlue {
    background: blue; 
    border-color: blue;  
}

.inkIndigo {
    background: indigo; 
    border-color: indigo;  
}

.inkViolet {
    background: purple; 
    border-color: purple;  
}

.inkPink {
    background: pink; 
    border-color: pink;  
}

.inkBrown {
    background: brown; 
    border-color: brown;  
}

.inkBlack {
    background: black; 
    border-color: black; 
}

.inkWhite {
    background: white; 
    border-color: white;  
}

.inkGrey {
    background: grey; 
    border-color: grey;  
}

.pixel:hover {
    background-color: #cccaca;
  }

.palette {
    max-height: 474px;
    border-style: ridge;
    border-color: #954520;
    padding: 5px;
}

.sandwich {
    width: 100%;
    color:#f5efe6;
    background-color: #4f200f;
    padding: 5px 10px;
}

.workspace {
    flex: 1 0 auto;
    display: flex;
    padding: 0px;
    margin: 10px;
}
